# Gemini
GOOGLE_GENERATIVE_AI_API_KEY=

# eBay Sandbox
EBAY_ENVIRONMENT=sandbox
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_REFRESH_TOKEN=
EBAY_RU_NAME=
EBAY_MARKETPLACE_ID=EBAY_US

# Preconfigured eBay seller policies
EBAY_MERCHANT_LOCATION_KEY=
EBAY_PAYMENT_POLICY_ID=
EBAY_FULFILLMENT_POLICY_ID=
EBAY_RETURN_POLICY_ID=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=
